<h1><%=@workspace.name%></h1>

<p>
<%# <b>Clickable Edit Name:</b> %>
<%#= best_in_place @workspace, :name, :as => :textarea %>
</p>

<%= render 'update_form', workspace: @workspace, nodes: @nodes %>

<%= render 'display_nodes', node: @nodes %>

<a class="btn btn-outline-secondary" href=<%= workspace_manager_path(@workspace.user_id) %> role="button">Back</a>